.addCustomReward {
  z-index: 99;
}

.plusIcon {
  font-size: 20px;
  margin-right: 10px;
}

.customRewardTitle {
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.customRewardTitle::placeholder {
  color: white;
}

.customCoverImg {
  width: 20%;
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  align-items: center;
}

.customChooseCover {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
