.addCustomReward {
  z-index: 99;
}

.customRewardTitle::placeholder {
  color: white;
}

.customCoverImg {
  width: 20%;
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  align-items: center;
}

.customChooseCover {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
