.modalContainer {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 99;
}
.modalInner {
  position: absolute;
  background-color: rgb(75, 75, 75);
  width: 50%;
  height: 400px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modalImagesContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.modalImage {
  width: 100px;
  height: 100px;
  background-size: cover;
  cursor: pointer;
}
.selected {
  border: 2px solid white;
}

.addCancelContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
