.rewards {
  border-bottom: none;
  top: 15px;
  right: 15px;
  height: calc(100% - 30px);
  width: 0;
  position: absolute;
  background-color: #292929;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.rewards.open {
  width: calc(50vw - 10px);
}

.rewardsContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  height: calc(100% - 50px);
  gap: 80px;
  align-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.5s;
}

.rewards.open .rewardsContainer {
  opacity: 1;
  transition-delay: 0.5s;
}

.rewards:not(.open) .rewardsContainer {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.1s;
}

.shop {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 1.2rem;
  background-image: url("../../../../public/images/shop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
