.rewards {
  border-bottom: none;
  top: 20px;
  right: 150px;
  height: calc(100% - 40px);
  width: 0;
  position: absolute;
  background-color: rgb(50, 56, 57);
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  z-index: 15;
  box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px 0 0 12px;
}

.rewards.open {
  width: calc(50vw - 170px);
}

.rewardsContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  height: calc(100% - 50px);
  gap: 80px;
  align-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.5s;
  overflow-y: scroll;
}

.rewards.open .rewardsContainer {
  opacity: 1;
  transition-delay: 0.5s;
}

.rewards:not(.open) .rewardsContainer {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.1s;
}

.shop {
  position: absolute;
  bottom: 35px;
  right: 35px;
  font-size: 1.2rem;
  background-image: url("../../../../public/images/shop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 16;
}

.header {
  line-height: 50px;
  height: 50px;
  color: #ffffff;
  width: 100%;
  font-family: "Karla";
  font-size: 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
}
