.wishlistInfo {
  padding: 20px 10px;
}

.wishlistInfoSpan {
  display: block;
  font-weight: 600;
}

.wishlistItems {
  width: 100%;
}

.wishlist {
  width: 150px;
  min-width: 150px;
  background-color: #323839;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlistTitle {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: "karla";
  background-color: #b0b0b0;
  color: #222728;
}
