.rewardCard {
  width: 100%;
  max-width: 150px;
  position: relative;
  height: fit-content;

  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.rewardCard:hover:not(.rewardCard.noHoverEffect) {
  background-color: rgba(255, 255, 255, 0.1);
}

.rewardCardInner {
  display: flex;
  align-items: center;
}

.rewardCardInfo {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

.rewardCardImg {
  flex-basis: 40%;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
}

.rewardCardP {
  word-wrap: break-word;
  padding-bottom: 5px;
}

.newBtn,
.claimBtn {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 5px;
  gap: 3px;
  font-size: 1rem;
  clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}

.newBtn {
  background-color: #1a2223;
}

.claimBtn {
  background-color: #419b81;
  font-weight: 600;
}

.rewardCardTitle {
  display: flex;
  align-items: center;
}

.wishlistIcon {
  margin-right: 5px;
}

.claimed {
  opacity: 0.85;
  position: relative;
}

.claimed::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: #419b81 transparent;
}

.claimedBadge {
  background-color: #4a6670;
  color: #fff;
  padding: 5px 0;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
}

.warning {
  color: rgb(173, 86, 86);
  position: absolute;
  bottom: 2px;
  right: 3px;
  font-size: 0.6rem;
  display: none;
}

.noHoverEffect:hover .warning {
  display: block;
}
