.rewardCard {
  flex-basis: 100px;
  max-width: 100px;
  position: relative;
  height: fit-content;
  margin-bottom: 15px;
}

.rewardCardImg {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
}

.rewardCardP {
  word-wrap: break-word;
  padding-bottom: 5px;
}

.newBtn,
.claimBtn {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 5px;
  gap: 3px;
  font-size: 1rem;
  position: absolute;
  bottom: -14px;
  left: 0;
  clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}

.newBtn {
  background-color: #a1552a;
}

.claimBtn {
  background-color: #419b81;
  font-weight: 600;
}
