.rewardCard {
  flex-basis: 100px; 
  max-width: 100px;
  position: relative;
  height: fit-content;
}

.rewardCardImg {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
} 

.newBtn,
.claimBtn {
  height: 45px;
  color: #ffffff;
  border-radius: 25px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 15px;
  position: absolute;
  bottom: -20px;
  right: -50px;
}

.newBtn {
  background-color: #a1552a;
}

.claimBtn {
  background-color: #419b81;
  font-weight: 600;
}
