.treasure {
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-size: 1.2rem;
  background-image: url("../../../../../public/images/treasure.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalDiamonds {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
