.date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-hover);
  height: 45px;
  width: 45px;
  margin: 5px auto;
  border-radius: 50%;
  box-shadow: inset 1px 5px 5px rgba(31, 31, 31, 0.8);
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.clicked:not(:hover) {
  background-image: url("../../../../public/images/chain.svg");
  border-radius: 0;
  box-shadow: unset;
  background-color: unset;
}

.date:hover {
  background: var(----some-muted-bull);
  transform: translateY(-2px);
  box-shadow: inset 1px 5px 5px rgba(31, 31, 31, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.15);
}
