.difficultyOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--background);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.difficultyOption:hover {
  background-color: var(--surface-hover);
  transform: translateY(-1px);
}

.selectedDifficulty {
  background-color: var(--surface-hover);
  /* border-left: solid 3px var(--info); */
}

.difficultyBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.85rem;
  transition: transform 0.2s ease;
}

.difficultyOption:hover .difficultyBadge {
  transform: scale(1.05);
}

.difficultyOption p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-primary);
}

.gemIcon {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3px;
}
