.newGoal {
  height: 55px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background-color: #d26f37;
  cursor: pointer;
  color: #363636;
  margin-bottom: 15px;
}

.newGoalHeader {
  height: 55px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.newGoalHeader:hover {
  background-color: #966040;
  color: #3d3d3d;
}

.newGoalP {
  font-size: 1.5rem;
  margin-left: 30px;
}

.newBtn {
  height: 100%;
  background-color: #7a9b81;
  color: #ffffff;
  border-radius: 25px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 98;
}

.newBtn:hover {
  background-color: #419b81;
}

.newGoalHeader:hover .newBtn {
  transform: scale(1.1);
}

.customRewardDetails {
  position: absolute;
  right: 40px;
  background-color: #966040;
  color: white;
  width: 0;
  height: 100%;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.customRewardDetails.isHovered {
  width: calc(100% - 40px);
  padding: 0 20px;
}

.customRewardDescriptionP {
  font-size: 1rem;
}

.customRewardName {
  color: #fff3cc;
  display: flex;
  align-items: center;
}
