.habits {
  width: 100%;
  padding: 20px 20px 0;
}

.habitsContainer {
  display: flex;
  margin-top: 20px;
}

.dates {
  margin-top: 100px;
  margin-right: 20px;
}

.date {
  background-color: #ffc301;
  width: 100px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  color: #3d3d3d;
  height: 45px;
}

.today {
  background-color: #ffcc00;
  font-weight: bold;
}

.dateText {
  font-size: 1rem;
  font-weight: bold;
}

.dayText {
  font-size: 0.8rem;
}

.habitsInner {
  display: flex;
}

.habitName {
  background-color: #ffc301;
  border-radius: 10px;
  padding-top: 5px;
  color: #3d3d3d;
  font-weight: bold;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 0 5px 5px 5px;
}
